{% extends 'base.html' %}
{% block content %}
<div class="row mb-2">
    {% if person %}
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <h3 class="mb-0 text-center">  <strong class="d-inline-block mb-2 text-success">Informations de L'Utilisateur </strong> </h3>
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4> <strong class="d-inline-block mb-2 text-success">ID : {{person.id}}</strong> <h4>
                    <h3 class="mb-0">Nom : {{person.nom}}</h3>
                    <h4><div class="mb-1 text-muted">Prenom(s) : {{person.prenom}}</div></h2>
                    <p class="mb-auto">télephone : {{person.tel}}</p>
                  </div>
                  <div class="col-auto d-none d-lg-block">
                    <img src="{{person.imag}}" width=250 height=210  id="mainImage">
          
                  </div>
                </div>
            </div>
        
        
          
          {% else  %}
            <h4> La liste des Utilisateurs est vide</h4>
          {% endif %}
          <a href='{% url 'home' %}'class='btn btn-primary'>Retour</a>
    
        </div>
      </div>
    </div>
  </div>
{% endblock %}