{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">

<!-- Libs CSS -->


<link href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}"  rel="stylesheet">
<link href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/prismjs/themes/prism-okaidia.css' %}" rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
  <title>Connexion </title>
</head>

<body class="bg-light">
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="index.html"><img src="{% static 'assets/images/brand/logo/logo-primary.svg' %}" class="mb-2" alt=""></a>
              <p class="mb-6">Entrer vos informations de connexion.</p>
            </div>
            <!-- Form -->
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
              
                 <!-- Username -->
                  <div class="mb-3">
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                    <input type="texte" id="username" class="form-control" name="username" placeholder="Nom d'utilisateur" required="">
                  </div>
                  <!-- Password -->
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="**************" required="">
                  </div>
                
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Connexion</button>
                </div>

                <div class="d-md-flex justify-content-between mt-4">
                </div>
              </div>
              <p class="text-center mt-1">
                Pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici</a>.
             </p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Libs JS -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/prism.js' %}"></script>
<script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js' %}"></script>
<script src="{% static 'assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js' %}"></script>




<!-- Theme JS -->
<script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>

</html>

