{% extends 'base.html' %}
{% block content %}
<div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-300 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0 text-center">  <strong class="d-inline-block mb-2 text-success">Modifier les Informations de L'Utilisateur </strong> </h3>
              <form action='' method='POST'>
                {% csrf_token %}
                 {{form.as_p}}
               <input type='submit' class='btn btn-success' value ='Modifier'>
               <a href='{% url 'home' %}'class='btn btn-primary'>Retour</a>
             </form>
           
    
        </div>
      </div>
    </div>
  </div>
{% endblock %}