{% extends 'base.html' %} {% block content %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="card" style="width: 50%">
    
    <div class="card-body d-flex align-items-start">
      <div>
        <h5 class="card-title display-4">
          {{ employee.nom }} {{ employee.prenom }}
        </h5>
        
        <p class="card-text fs-5">
          <strong>Date de naissance:</strong> {{ employee.date_nais }}<br />
          <strong>Téléphone:</strong> {{ employee.tel }}<br />
          <strong>Date d'embauche:</strong> {{ employee.date_empl }}<br />
          <strong>Poste:</strong> {{ employee.poste }}<br />
        </p>
        <a
          href="{% url 'edit_employee' employee.id %}"
          class="btn btn-primary btn-lg"
          >Modifier</a
        >
        <a
          href="{% url 'delete_employee' employee.id %}"
          class="btn btn-danger btn-lg"
          >Supprimer</a
        >
      </div>
      <div class="ms-auto">
        <img src="{{ employee.photo.url }}" alt="Image profil" class="card-img-top" >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
